<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="header">
        <div id="title">
            <h1 style="font-weight: 300;">DAILY JOURNAL</h1>
        </div>
        <div class="pages">
                <a class="links" href="/">Home</a>
                <a class="links" href="/about">About Us</a>
                <a class="links" href="/contact">Contact Us</a>
        </div>
        
        </section>